
Battelle/bin/
Battelle/obj/
obj/
bin/
.suo
.user

packages/Antlr.3.4.1.9004/.signature.p7s
packages/Antlr.3.4.1.9004/[Content_Types].xml
packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
packages/AspNet.ScriptManager.bootstrap.3.0.0/.signature.p7s
packages/AspNet.ScriptManager.bootstrap.3.0.0/[Content_Types].xml
packages/AspNet.ScriptManager.bootstrap.3.0.0/AspNet.ScriptManager.bootstrap.3.0.0.nupkg
packages/AspNet.ScriptManager.bootstrap.3.0.0/lib/net40/AspNet.ScriptManager.bootstrap.dll
packages/AspNet.ScriptManager.bootstrap.3.0.0/lib/net45/AspNet.ScriptManager.bootstrap.dll
packages/AspNet.ScriptManager.jQuery.1.10.2/AspNet.ScriptManager.jQuery.1.10.2.nupkg
packages/AspNet.ScriptManager.jQuery.1.10.2/lib/net40/AspNet.ScriptManager.jQuery.dll
packages/AspNet.ScriptManager.jQuery.1.10.2/lib/net45/AspNet.ScriptManager.jQuery.dll
packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.css
packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.min.css
packages/bootstrap.3.0.0/Content/Content/bootstrap.css
packages/bootstrap.3.0.0/Content/Content/bootstrap.min.css
packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.eot
packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.svg
packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.ttf
packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.woff
packages/bootstrap.3.0.0/Content/Scripts/bootstrap.js
packages/bootstrap.3.0.0/Content/Scripts/bootstrap.min.js
packages/EntityFramework.6.0.0/Content/App.config.transform
packages/EntityFramework.6.0.0/Content/Web.config.transform
packages/EntityFramework.6.0.0/EntityFramework.6.0.0.nupkg
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.dll
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.xml
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.dll
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.xml
packages/EntityFramework.6.0.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.0.0/tools/EntityFramework.psd1
packages/EntityFramework.6.0.0/tools/EntityFramework.psm1
packages/EntityFramework.6.0.0/tools/init.ps1
packages/EntityFramework.6.0.0/tools/install.ps1
packages/EntityFramework.6.0.0/tools/migrate.exe
packages/jQuery.1.10.2/.signature.p7s
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
packages/jQuery.1.10.2/Tools/common.ps1
packages/jQuery.1.10.2/Tools/install.ps1
packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
packages/jQuery.1.10.2/Tools/uninstall.ps1
packages/Microsoft.AspNet.FriendlyUrls.Core.1.0.2/lib/net40/Microsoft.AspNet.FriendlyUrls.dll
packages/Microsoft.AspNet.FriendlyUrls.Core.1.0.2/lib/net40/Microsoft.AspNet.FriendlyUrls.xml
packages/Microsoft.AspNet.FriendlyUrls.Core.1.0.2/lib/net45/Microsoft.AspNet.FriendlyUrls.dll
packages/Microsoft.AspNet.FriendlyUrls.Core.1.0.2/lib/net45/Microsoft.AspNet.FriendlyUrls.xml
packages/Microsoft.AspNet.FriendlyUrls.Core.1.0.2/Microsoft.AspNet.FriendlyUrls.Core.1.0.2.nupkg
packages/Microsoft.AspNet.Identity.Core.1.0.0/lib/net45/Microsoft.AspNet.Identity.Core.dll
packages/Microsoft.AspNet.Identity.Core.1.0.0/lib/net45/Microsoft.AspNet.Identity.Core.xml
packages/Microsoft.AspNet.Identity.Core.1.0.0/Microsoft.AspNet.Identity.Core.1.0.0.nupkg
packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/lib/net45/Microsoft.AspNet.Identity.EntityFramework.dll
packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/lib/net45/Microsoft.AspNet.Identity.EntityFramework.xml
packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/Microsoft.AspNet.Identity.EntityFramework.1.0.0.nupkg
packages/Microsoft.AspNet.Identity.Owin.1.0.0/lib/net45/Microsoft.AspNet.Identity.Owin.dll
packages/Microsoft.AspNet.Identity.Owin.1.0.0/lib/net45/Microsoft.AspNet.Identity.Owin.xml
packages/Microsoft.AspNet.Identity.Owin.1.0.0/Microsoft.AspNet.Identity.Owin.1.0.0.nupkg
packages/Microsoft.AspNet.Providers.Core.1.2/lib/net40/System.Web.Providers.dll
packages/Microsoft.AspNet.Providers.Core.1.2/Microsoft.AspNet.Providers.Core.1.2.nupkg
packages/Microsoft.AspNet.Providers.Core.1.2/readme.html
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjax.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxApplicationServices.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxComponentModel.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxCore.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxGlobalization.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxHistory.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxNetwork.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxSerialization.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxTimer.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxWebForms.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/content/Scripts/WebForms/MSAjax/MicrosoftAjaxWebServices.js
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/lib/net45/Microsoft.ScriptManager.MSAjax.dll
packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0.nupkg
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/DetailsView.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/Focus.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/GridView.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/Menu.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/MenuStandards.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/SmartNav.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/TreeView.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/WebForms.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/WebParts.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/content/Scripts/WebForms/WebUIValidation.js
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/lib/net45/Microsoft.ScriptManager.WebForms.dll
packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0/Microsoft.AspNet.ScriptManager.WebForms.5.0.0.nupkg
packages/Microsoft.AspNet.Web.Optimization.1.1.1/lib/net40/System.Web.Optimization.dll
packages/Microsoft.AspNet.Web.Optimization.1.1.1/lib/net40/system.web.optimization.xml
packages/Microsoft.AspNet.Web.Optimization.1.1.1/Microsoft.AspNet.Web.Optimization.1.1.1.nupkg
packages/Microsoft.AspNet.Web.Optimization.WebForms.1.1.1/content/web.config.transform
packages/Microsoft.AspNet.Web.Optimization.WebForms.1.1.1/lib/net45/Microsoft.AspNet.Web.Optimization.WebForms.dll
packages/Microsoft.AspNet.Web.Optimization.WebForms.1.1.1/Microsoft.AspNet.Web.Optimization.WebForms.1.1.1.nupkg
packages/Microsoft.Owin.2.0.0/lib/net40/Microsoft.Owin.dll
packages/Microsoft.Owin.2.0.0/lib/net40/Microsoft.Owin.XML
packages/Microsoft.Owin.2.0.0/lib/net45/Microsoft.Owin.dll
packages/Microsoft.Owin.2.0.0/lib/net45/Microsoft.Owin.XML
packages/Microsoft.Owin.2.0.0/Microsoft.Owin.2.0.0.nupkg
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net40/Microsoft.Owin.Host.SystemWeb.dll
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net40/Microsoft.Owin.Host.SystemWeb.xml
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/Microsoft.Owin.Host.SystemWeb.2.0.0.nupkg
packages/Microsoft.Owin.Security.2.0.0/.signature.p7s
packages/Microsoft.Owin.Security.2.0.0/[Content_Types].xml
packages/Microsoft.Owin.Security.2.0.0/lib/net45/Microsoft.Owin.Security.dll
packages/Microsoft.Owin.Security.2.0.0/lib/net45/Microsoft.Owin.Security.XML
packages/Microsoft.Owin.Security.2.0.0/Microsoft.Owin.Security.2.0.0.nupkg
packages/Microsoft.Owin.Security.Cookies.2.0.0/.signature.p7s
packages/Microsoft.Owin.Security.Cookies.2.0.0/[Content_Types].xml
packages/Microsoft.Owin.Security.Cookies.2.0.0/lib/net45/Microsoft.Owin.Security.Cookies.dll
packages/Microsoft.Owin.Security.Cookies.2.0.0/lib/net45/Microsoft.Owin.Security.Cookies.xml
packages/Microsoft.Owin.Security.Cookies.2.0.0/Microsoft.Owin.Security.Cookies.2.0.0.nupkg
packages/Microsoft.Owin.Security.Facebook.2.0.0/.signature.p7s
packages/Microsoft.Owin.Security.Facebook.2.0.0/[Content_Types].xml
packages/Microsoft.Owin.Security.Facebook.2.0.0/lib/net45/Microsoft.Owin.Security.Facebook.dll
packages/Microsoft.Owin.Security.Facebook.2.0.0/lib/net45/Microsoft.Owin.Security.Facebook.XML
packages/Microsoft.Owin.Security.Facebook.2.0.0/Microsoft.Owin.Security.Facebook.2.0.0.nupkg
packages/Microsoft.Owin.Security.Google.2.0.0/.signature.p7s
packages/Microsoft.Owin.Security.Google.2.0.0/[Content_Types].xml
packages/Microsoft.Owin.Security.Google.2.0.0/lib/net45/Microsoft.Owin.Security.Google.dll
packages/Microsoft.Owin.Security.Google.2.0.0/lib/net45/Microsoft.Owin.Security.Google.XML
packages/Microsoft.Owin.Security.Google.2.0.0/Microsoft.Owin.Security.Google.2.0.0.nupkg
packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.dll
packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.XML
packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/Microsoft.Owin.Security.MicrosoftAccount.2.0.0.nupkg
packages/Microsoft.Owin.Security.OAuth.2.0.0/.signature.p7s
packages/Microsoft.Owin.Security.OAuth.2.0.0/[Content_Types].xml
packages/Microsoft.Owin.Security.OAuth.2.0.0/lib/net45/Microsoft.Owin.Security.OAuth.dll
packages/Microsoft.Owin.Security.OAuth.2.0.0/lib/net45/Microsoft.Owin.Security.OAuth.XML
packages/Microsoft.Owin.Security.OAuth.2.0.0/Microsoft.Owin.Security.OAuth.2.0.0.nupkg
packages/Microsoft.Owin.Security.Twitter.2.0.0/.signature.p7s
packages/Microsoft.Owin.Security.Twitter.2.0.0/[Content_Types].xml
packages/Microsoft.Owin.Security.Twitter.2.0.0/lib/net45/Microsoft.Owin.Security.Twitter.dll
packages/Microsoft.Owin.Security.Twitter.2.0.0/lib/net45/Microsoft.Owin.Security.Twitter.XML
packages/Microsoft.Owin.Security.Twitter.2.0.0/Microsoft.Owin.Security.Twitter.2.0.0.nupkg
packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Modernizr.2.6.2/.signature.p7s
packages/Modernizr.2.6.2/[Content_Types].xml
packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
packages/Modernizr.2.6.2/Tools/common.ps1
packages/Modernizr.2.6.2/Tools/install.ps1
packages/Modernizr.2.6.2/Tools/uninstall.ps1
packages/Newtonsoft.Json.5.0.6/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/portable-net45+wp80+win8/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/portable-net45+wp80+win8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/Newtonsoft.Json.5.0.6.nupkg
packages/Owin.1.0/.signature.p7s
packages/Owin.1.0/[Content_Types].xml
packages/Owin.1.0/lib/net40/Owin.dll
packages/Owin.1.0/Owin.1.0.nupkg
packages/Respond.1.2.0/.signature.p7s
packages/Respond.1.2.0/[Content_Types].xml
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/Respond.1.2.0/Respond.1.2.0.nupkg
packages/WebGrease.1.5.2/.signature.p7s
packages/WebGrease.1.5.2/[Content_Types].xml
packages/WebGrease.1.5.2/lib/WebGrease.dll
packages/WebGrease.1.5.2/tools/install.ps1
packages/WebGrease.1.5.2/tools/uninstall.ps1
packages/WebGrease.1.5.2/tools/WG.exe
packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
.vs/config/applicationhost.config
